.wrapperFixed {
  position: sticky;
  top: 0;
  background: var(--background-color);
  z-index: 2;
  padding-bottom: 16px;
}

.title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

.rate {
  display: flex;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}
.rateText {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.starIcon {
  width: 16px;
  height: 16px;
  fill: var(--yellow-collor);
}
.locationIcon {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: var(--main-text-color);
}

.desc {
  line-height: 150%;
  font-size: 14px;
  padding-right: 24px;
  width: 300px;
  color: var(--second-text-color);
}

@media screen and (min-width: 480px) {
  .desc {
    font-size: 16px;
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .desc {
    width: 700px;
  }
}
@media screen and (min-width: 1440px) {
  .desc {
    width: 910px;
  }
}

// scrollBlock
.scrollBlock {
  padding-right: 24px;
  overflow-y: auto;
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: white;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #8bbeb1;
  }
}
