.myBtn {
  font-family: Inter;
  width: 166px;
  height: 56px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
  border-radius: 200px;
  padding: 16px 40px;
  color: var(--background-color);
  background-color: var(--bg-main-color);
  transition: var(--transition);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}
