.homeTitle {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-family);
  text-transform: uppercase;
  color: var(--home-text-color);
  text-shadow: 0 0 50px blue;
  margin-top: 20px;
}

.homeSubtitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-family);
  text-transform: uppercase;
  color: var(--home-text-color);
  text-shadow: 0 0 50px blue;
  margin-top: 20px;
  margin-bottom: 20px;
}

.homeLink {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-family);
  text-transform: uppercase;
  color: rgb(77, 77, 187);
  text-shadow: 0 0 50px blue;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-color: rgb(96, 96, 170);
}

@media screen and (min-width: 480px) {
  .homeTitle {
    font-size: 24px;
  }

  .homeSubtitle {
    font-size: 24px;
  }

  .homeLink {
    font-size: 24px;
  }
}
