.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 111;
}

.modal {
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
  border-radius: 20px;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 32px 32px;

  max-height: 90vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: 480px) {
    width: 448px;
    height: 730px;
  }

  @media screen and (min-width: 768px) {
    width: 760px;
  }

  @media screen and (min-width: 1440px) {
    width: 982px;
  }
}

.button {
  position: absolute;
  top: 40px;
  right: 15px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transition: var(--transition);
}

.button:hover .icon,
.button:focus .icon {
  stroke: var(--btn-hover-color);
  border: 1px solid red;
  border-radius: 50%;
}

.icon {
  stroke: var(--main-text-color);
  transition: var(--transition);
}
