.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 111;
}

.modal {
  position: relative;
  overflow-y: auto;
  background-color: var(--background-color);
  border-radius: 20px;
  width: 982px;
  height: 720px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 32px;
}

.button {
  position: absolute;
  top: 40px;
  right: 15px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transition: var(--transition);
}

.button:hover .icon,
.button:focus .icon {
  stroke: var(--btn-hover-color);
}

.icon {
  stroke: var(--main-text-color);
  transition: var(--transition);
}
