.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 111;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 95%;
  max-width: 982px;
  height: 90vh;

  background-color: var(--background-color);
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  padding: 32px;

  @media screen and (min-width: 480px) {
    width: 448px;
    height: 730px;
  }

  @media screen and (min-width: 768px) {
    width: 760px;
  }

  @media screen and (min-width: 1440px) {
    width: 982px;
  }
}

.button {
  transition: var(--transition);
  position: sticky;
  align-self: flex-end;
  background: transparent;
  z-index: 2;
}

.button:hover .icon,
.button:focus .icon {
  stroke: var(--btn-hover-color);
  border: 1px solid red;
  border-radius: 50%;
}

.icon {
  stroke: var(--main-text-color);
  transition: var(--transition);
}
