.form {
  width: 100%;
  max-width: 644px;
  padding: 24px;
  border: 1px solid var(--second-text-color);
  border-radius: 10px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 8px;
}

.text {
  line-height: 150%;
  color: var(--main-text-color);
  margin-bottom: 24px;
}

.inputsInner {
  margin-top: 14px;
}

.inputCommon {
  width: 100%;
  max-width: 644px;
  border-radius: 10px;
  padding: 18px;
  background-color: var(--bg-input-color);
  border: none;
  outline: none;
}

.inputCommon:-webkit-autofill,
.inputCommon:-webkit-autofill:hover,
.inputCommon:-webkit-autofill:focus,
.inputCommon:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 1s;
}

.inputCommon::placeholder {
  line-height: 125%;
  color: rgba(16, 24, 40, 0.6);
  transition: var(--transition);
}

.inputCommon:hover::placeholder,
.inputCommon:focus::placeholder {
  color: var(--main-text-color);
}

.input {
  height: 56px;
}

.errorMessage {
  font-size: 14px;
  padding-left: 18px;
  color: var(--btn-hover-color);
}

.inputContainer {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-right: 18px;
  background-color: var(--bg-input-color);
}

.inputCalendar {
  height: 56px;
  max-width: 362px;
}

.iconCalendar {
  fill: transparent;
  stroke: var(--main-text-color);
}

.textarea {
  height: 114px;
  resize: none;
  margin-bottom: 20px;
}

:global(.react-datepicker-popper) {
  left: 0 !important;
  top: 4px !important;
}

@media (max-width: 480px) {
  :global(.react-datepicker-popper) {
    left: 0 !important;
    width: 100%;
  }
}

.calendarStyles:global(.react-datepicker) {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 129%;
  font-weight: 400;
  background-color: white;
  padding: 17px;
  border: 1px solid var(--second-text-color);
}

.calendarStyles :global(.react-datepicker__header) {
  background-color: inherit;
  border: 0;
  padding: 0;
}

.calendarStyles :global(.react-datepicker__month) {
  margin: 0;
}

.calendarStyles :global(.react-datepicker__current-month) {
  font-weight: 600;
  font-size: 16px;
  color: var(--main);
  padding-bottom: 20px;
}

.calendarStyles :global(.react-datepicker__navigation) {
  top: 10px;
}

.calendarStyles :global(.react-datepicker__month-read-view--down-arrow) {
  border-color: var(--text-white);
}

.calendarStyles :global(.react-datepicker__navigation-icon--previous::before) {
  right: -8px;
}

.calendarStyles :global(.react-datepicker__navigation:hover *::before) {
  border-color: var(--button);
}

.calendarStyles :global(.react-datepicker__navigation-icon--next::before) {
  left: -8px;
}

.calendarStyles :global(.react-datepicker__day-names) {
  margin-bottom: 20px;
}

.calendarStyles :global(.react-datepicker__navigation-icon::before) {
  border-color: var(--main);
}

.calendarStyles :global(.react-datepicker__day-name) {
  color: var(--text);
  margin: 0 4px;
  width: 28px;
  height: 14px;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
}

.calendarStyles :global(.react-datepicker__day) {
  color: var(--main);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  margin: 5px;
  height: 23px;
}

.calendarStyles :global(.react-datepicker__day--disabled) {
  color: var(--text);
}

.calendarStyles :global(.react-datepicker__day--keyboard-selected),
.calendarStyles :global(.react-datepicker__day--selected),
.calendarStyles :global(.react-datepicker__day:hover) {
  color: var(--white);
  background-color: var(--button);
  border-radius: 50%;
}

.calendarStyles :global(.react-datepicker__day--disabled:hover) {
  color: var(--text);
  background-color: inherit;
  font-weight: inherit;
  background-color: transparent;
  pointer-events: none;
}

:global(svg.react-datepicker__triangle) {
  visibility: hidden;
}

:global(.react-datepicker__day--outside-month) {
  background-color: transparent;
  pointer-events: none;
}
