:root {
  --font-family: Inter, system-ui;
  --background-home: linear-gradient(to right, #9292e6, #7099e6, #77e9e1);

  --background-color: #ffffff;
  --main-text-color: #101828;
  --second-text-color: #475467;
  --home-text-color: #035caa;
  --bg-main-color: #e44848;
  --btn-hover-color: #d84343;
  --yellow-collor: #ffc531;
  --bg-segmented-color: #f2f4f7;
  --bg-input-color: #f7f7f7;
  --aqua-color: aqua;
  --transition: 0.5s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--background-home);

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
