:root {
  --font-family: Inter, system-ui;

  --background-color: #ffffff;
  --main-text-color: #101828;
  --second-text-color: #475467;
  --bg-main-color: #e44848;
  --btn-hover-color: #d84343;
  --yellow-collor: #ffc531;
  --bg-segmented-color: #f2f4f7;
  --bg-input-color: #f7f7f7;

  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
